@font-face {
    font-family: pok;
    src: url(imagens/SuperMario256.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: pix;
    src: url(imagens/SuperMario85.ttf) format("truetype");
    font-weight: normal;
}

html, body {margin: 0;
    padding: 0;
    border: 0;
}
html{

    background-image: url(imagens/ceu_mario.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
}

body{
    background-image: url(imagens/tijolos_mario.jpg);    
    width: 100vw;
    max-width: 950px;
    text-align: center;
    box-shadow: 20px 20px 10px #000000aa;
    padding: 25px;
    margin-top: 150px;
    margin-bottom: 50px;
    border-radius: 25px;
}

h1, h2 , h3{  
    color: #ffffff;
    text-shadow: 2px 1px 2px #000000;
    font-family: pok;

   
}

 h1 { font-size: 40px;;
      
 }

 h2 { font-size: 30px;

 }
 h3{
    font-size: 14px;
 }
 p {
    color: #ffffff;
    font-size: 15px;
    font-family: pix;
    text-shadow: 2px 1px 2px #000000;
 }

 ol {
    color: #ffffff;
    text-align: left;
    font-family: pix;
    text-shadow: 2px 1px 2px #000000;
 }


a {
    color: #ffffff;
}

a:hover {
    color: #000000;
}

.extra2 {
    z-index: 1;
    height: 800px;
    width: 50%;
    position: absolute;
    right: -200px;
    top: 1360px;
    background-image: url(imagens/mario.png);
    background-repeat: no-repeat;
    background-position: center;
}

.extra1 {
    z-index: 1;
    height: 800px;
    width: 50%;
    position: absolute;
    right: 1200px;
    top: 130px;
    background-image: url(imagens/luigi.png);
    background-repeat: no-repeat;
    background-position: center;
}

.extra3{
    background-image: url(imagens/);
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 5;
}





  






